<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dxhy.invoice.dao.KpfwSpbmMapper" >
  <resultMap id="BaseResultMap" type="com.dxhy.invoice.entity.KpfwSpbm" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="spbm" property="spbm" jdbcType="VARCHAR" />
    <result column="spmc" property="spmc" jdbcType="VARCHAR" />
    <result column="zzssl" property="zzssl" jdbcType="VARCHAR" />
    <result column="hzx" property="hzx" jdbcType="VARCHAR" />
    <result column="bbh" property="bbh" jdbcType="DOUBLE" />
    <result column="kyzt" property="kyzt" jdbcType="VARCHAR" />
    <result column="zzstsgl" property="zzstsgl" jdbcType="VARCHAR" />
    <result column="qysj" property="qysj" jdbcType="VARCHAR" />
    <result column="gdqjzsj" property="gdqjzsj" jdbcType="VARCHAR" />
    <result column="gxsj" property="gxsj" jdbcType="VARCHAR" />
    <result column="updatetime" property="updatetime" jdbcType="DATE" />
    <result column="spbmjc" property="spbmjc" jdbcType="VARCHAR" />
    <result column="byzd1" property="byzd1" jdbcType="VARCHAR" />
    <result column="byzd2" property="byzd2" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, spbm, spmc, zzssl, hzx, bbh, kyzt, zzstsgl, qysj, gdqjzsj, gxsj, updatetime, 
    spbmjc, byzd1, byzd2
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from kpfw_spbm
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from kpfw_spbm
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.dxhy.invoice.entity.KpfwSpbm" >
    insert into kpfw_spbm (id, spbm, spmc, 
      zzssl, hzx, bbh, kyzt, 
      zzstsgl, qysj, gdqjzsj, 
      gxsj, updatetime, spbmjc, 
      byzd1, byzd2)
    values (#{id,jdbcType=INTEGER}, #{spbm,jdbcType=VARCHAR}, #{spmc,jdbcType=VARCHAR}, 
      #{zzssl,jdbcType=VARCHAR}, #{hzx,jdbcType=VARCHAR}, #{bbh,jdbcType=DOUBLE}, #{kyzt,jdbcType=VARCHAR}, 
      #{zzstsgl,jdbcType=VARCHAR}, #{qysj,jdbcType=VARCHAR}, #{gdqjzsj,jdbcType=VARCHAR}, 
      #{gxsj,jdbcType=VARCHAR}, #{updatetime,jdbcType=DATE}, #{spbmjc,jdbcType=VARCHAR}, 
      #{byzd1,jdbcType=VARCHAR}, #{byzd2,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.dxhy.invoice.entity.KpfwSpbm" >
    insert into kpfw_spbm
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="spbm != null" >
        spbm,
      </if>
      <if test="spmc != null" >
        spmc,
      </if>
      <if test="zzssl != null" >
        zzssl,
      </if>
      <if test="hzx != null" >
        hzx,
      </if>
      <if test="bbh != null" >
        bbh,
      </if>
      <if test="kyzt != null" >
        kyzt,
      </if>
      <if test="zzstsgl != null" >
        zzstsgl,
      </if>
      <if test="qysj != null" >
        qysj,
      </if>
      <if test="gdqjzsj != null" >
        gdqjzsj,
      </if>
      <if test="gxsj != null" >
        gxsj,
      </if>
      <if test="updatetime != null" >
        updatetime,
      </if>
      <if test="spbmjc != null" >
        spbmjc,
      </if>
      <if test="byzd1 != null" >
        byzd1,
      </if>
      <if test="byzd2 != null" >
        byzd2,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="spbm != null" >
        #{spbm,jdbcType=VARCHAR},
      </if>
      <if test="spmc != null" >
        #{spmc,jdbcType=VARCHAR},
      </if>
      <if test="zzssl != null" >
        #{zzssl,jdbcType=VARCHAR},
      </if>
      <if test="hzx != null" >
        #{hzx,jdbcType=VARCHAR},
      </if>
      <if test="bbh != null" >
        #{bbh,jdbcType=DOUBLE},
      </if>
      <if test="kyzt != null" >
        #{kyzt,jdbcType=VARCHAR},
      </if>
      <if test="zzstsgl != null" >
        #{zzstsgl,jdbcType=VARCHAR},
      </if>
      <if test="qysj != null" >
        #{qysj,jdbcType=VARCHAR},
      </if>
      <if test="gdqjzsj != null" >
        #{gdqjzsj,jdbcType=VARCHAR},
      </if>
      <if test="gxsj != null" >
        #{gxsj,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=DATE},
      </if>
      <if test="spbmjc != null" >
        #{spbmjc,jdbcType=VARCHAR},
      </if>
      <if test="byzd1 != null" >
        #{byzd1,jdbcType=VARCHAR},
      </if>
      <if test="byzd2 != null" >
        #{byzd2,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dxhy.invoice.entity.KpfwSpbm" >
    update kpfw_spbm
    <set >
      <if test="spbm != null" >
        spbm = #{spbm,jdbcType=VARCHAR},
      </if>
      <if test="spmc != null" >
        spmc = #{spmc,jdbcType=VARCHAR},
      </if>
      <if test="zzssl != null" >
        zzssl = #{zzssl,jdbcType=VARCHAR},
      </if>
      <if test="hzx != null" >
        hzx = #{hzx,jdbcType=VARCHAR},
      </if>
      <if test="bbh != null" >
        bbh = #{bbh,jdbcType=DOUBLE},
      </if>
      <if test="kyzt != null" >
        kyzt = #{kyzt,jdbcType=VARCHAR},
      </if>
      <if test="zzstsgl != null" >
        zzstsgl = #{zzstsgl,jdbcType=VARCHAR},
      </if>
      <if test="qysj != null" >
        qysj = #{qysj,jdbcType=VARCHAR},
      </if>
      <if test="gdqjzsj != null" >
        gdqjzsj = #{gdqjzsj,jdbcType=VARCHAR},
      </if>
      <if test="gxsj != null" >
        gxsj = #{gxsj,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null" >
        updatetime = #{updatetime,jdbcType=DATE},
      </if>
      <if test="spbmjc != null" >
        spbmjc = #{spbmjc,jdbcType=VARCHAR},
      </if>
      <if test="byzd1 != null" >
        byzd1 = #{byzd1,jdbcType=VARCHAR},
      </if>
      <if test="byzd2 != null" >
        byzd2 = #{byzd2,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dxhy.invoice.entity.KpfwSpbm" >
    update kpfw_spbm
    set spbm = #{spbm,jdbcType=VARCHAR},
      spmc = #{spmc,jdbcType=VARCHAR},
      zzssl = #{zzssl,jdbcType=VARCHAR},
      hzx = #{hzx,jdbcType=VARCHAR},
      bbh = #{bbh,jdbcType=DOUBLE},
      kyzt = #{kyzt,jdbcType=VARCHAR},
      zzstsgl = #{zzstsgl,jdbcType=VARCHAR},
      qysj = #{qysj,jdbcType=VARCHAR},
      gdqjzsj = #{gdqjzsj,jdbcType=VARCHAR},
      gxsj = #{gxsj,jdbcType=VARCHAR},
      updatetime = #{updatetime,jdbcType=DATE},
      spbmjc = #{spbmjc,jdbcType=VARCHAR},
      byzd1 = #{byzd1,jdbcType=VARCHAR},
      byzd2 = #{byzd2,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>