<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mlamp.rcsc.dao.RcConfigMapper" >
  <resultMap id="BaseResultMap" type="com.mlamp.rcsc.model.RcConfig" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="pro_key" property="proKey" jdbcType="VARCHAR" />
    <result column="pro_value" property="proValue" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="description" property="description" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, pro_key, pro_value, update_time, description
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from rc_config
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from rc_config
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.mlamp.rcsc.model.RcConfig" >
    insert into rc_config (id, pro_key, pro_value, 
      update_time, description)
    values (#{id,jdbcType=INTEGER}, #{proKey,jdbcType=VARCHAR}, #{proValue,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{description,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.mlamp.rcsc.model.RcConfig" >
    insert into rc_config
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="proKey != null" >
        pro_key,
      </if>
      <if test="proValue != null" >
        pro_value,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="description != null" >
        description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="proKey != null" >
        #{proKey,jdbcType=VARCHAR},
      </if>
      <if test="proValue != null" >
        #{proValue,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mlamp.rcsc.model.RcConfig" >
    update rc_config
    <set >
      <if test="proKey != null" >
        pro_key = #{proKey,jdbcType=VARCHAR},
      </if>
      <if test="proValue != null" >
        pro_value = #{proValue,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mlamp.rcsc.model.RcConfig" >
    update rc_config
    set pro_key = #{proKey,jdbcType=VARCHAR},
      pro_value = #{proValue,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      description = #{description,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>