<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mlamp.rcsc.dao.RcGxmlTemplateMapper" >
  <resultMap id="BaseResultMap" type="com.mlamp.rcsc.model.RcGxmlTemplate" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="domain_cd" property="domainCd" jdbcType="VARCHAR" />
    <result column="info" property="info" jdbcType="VARCHAR" />
    <result column="data_type" property="dataType" jdbcType="VARCHAR" />
    <result column="constraint_condition" property="constraintCondition" jdbcType="VARCHAR" />
    <result column="not_null" property="notNull" jdbcType="CHAR" />
    <result column="search" property="search" jdbcType="CHAR" />
    <result column="checkbox" property="checkbox" jdbcType="CHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="tag_id" property="tagId" jdbcType="INTEGER" />
    <result column="tag_name" property="tagName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, domain_cd, info, data_type, constraint_condition, not_null, search, checkbox, 
    description, tag_id, tag_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from rc_gxml_template
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from rc_gxml_template
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.mlamp.rcsc.model.RcGxmlTemplate" >
    insert into rc_gxml_template (id, domain_cd, info, 
      data_type, constraint_condition, not_null, 
      search, checkbox, description, 
      tag_id, tag_name)
    values (#{id,jdbcType=INTEGER}, #{domainCd,jdbcType=VARCHAR}, #{info,jdbcType=VARCHAR}, 
      #{dataType,jdbcType=VARCHAR}, #{constraintCondition,jdbcType=VARCHAR}, #{notNull,jdbcType=CHAR}, 
      #{search,jdbcType=CHAR}, #{checkbox,jdbcType=CHAR}, #{description,jdbcType=VARCHAR}, 
      #{tagId,jdbcType=INTEGER}, #{tagName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.mlamp.rcsc.model.RcGxmlTemplate" >
    insert into rc_gxml_template
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="domainCd != null" >
        domain_cd,
      </if>
      <if test="info != null" >
        info,
      </if>
      <if test="dataType != null" >
        data_type,
      </if>
      <if test="constraintCondition != null" >
        constraint_condition,
      </if>
      <if test="notNull != null" >
        not_null,
      </if>
      <if test="search != null" >
        search,
      </if>
      <if test="checkbox != null" >
        checkbox,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="tagId != null" >
        tag_id,
      </if>
      <if test="tagName != null" >
        tag_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="domainCd != null" >
        #{domainCd,jdbcType=VARCHAR},
      </if>
      <if test="info != null" >
        #{info,jdbcType=VARCHAR},
      </if>
      <if test="dataType != null" >
        #{dataType,jdbcType=VARCHAR},
      </if>
      <if test="constraintCondition != null" >
        #{constraintCondition,jdbcType=VARCHAR},
      </if>
      <if test="notNull != null" >
        #{notNull,jdbcType=CHAR},
      </if>
      <if test="search != null" >
        #{search,jdbcType=CHAR},
      </if>
      <if test="checkbox != null" >
        #{checkbox,jdbcType=CHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="tagId != null" >
        #{tagId,jdbcType=INTEGER},
      </if>
      <if test="tagName != null" >
        #{tagName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mlamp.rcsc.model.RcGxmlTemplate" >
    update rc_gxml_template
    <set >
      <if test="domainCd != null" >
        domain_cd = #{domainCd,jdbcType=VARCHAR},
      </if>
      <if test="info != null" >
        info = #{info,jdbcType=VARCHAR},
      </if>
      <if test="dataType != null" >
        data_type = #{dataType,jdbcType=VARCHAR},
      </if>
      <if test="constraintCondition != null" >
        constraint_condition = #{constraintCondition,jdbcType=VARCHAR},
      </if>
      <if test="notNull != null" >
        not_null = #{notNull,jdbcType=CHAR},
      </if>
      <if test="search != null" >
        search = #{search,jdbcType=CHAR},
      </if>
      <if test="checkbox != null" >
        checkbox = #{checkbox,jdbcType=CHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="tagId != null" >
        tag_id = #{tagId,jdbcType=INTEGER},
      </if>
      <if test="tagName != null" >
        tag_name = #{tagName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mlamp.rcsc.model.RcGxmlTemplate" >
    update rc_gxml_template
    set domain_cd = #{domainCd,jdbcType=VARCHAR},
      info = #{info,jdbcType=VARCHAR},
      data_type = #{dataType,jdbcType=VARCHAR},
      constraint_condition = #{constraintCondition,jdbcType=VARCHAR},
      not_null = #{notNull,jdbcType=CHAR},
      search = #{search,jdbcType=CHAR},
      checkbox = #{checkbox,jdbcType=CHAR},
      description = #{description,jdbcType=VARCHAR},
      tag_id = #{tagId,jdbcType=INTEGER},
      tag_name = #{tagName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>